# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\lesso\audit\com.ljb.springcloud\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
